.myName {
  font-size: 76px;
  color: cadetblue;
  text-decoration: underline;
}
.myBlurb {
  font-weight: bold;
  font-size: 36px;
  color: gray;
}
.myVacationList {
  font-weight: 500;
  font-size: 24px;
}
.myVacationSpot {
  list-style-type: square;
}
.Dubai {
  text-decoration: line-through;
  color: rgb(148, 148, 148);
}
